@charset "utf-8";

/* Estilização para o corpo da página */
body {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	width: 80%;
	margin: 0 auto;
	font-weight: normal;
}

.ui-growl {
	margin-top: 52px;
}

/* Estilização para o cabeçalho da página */
header {
	/* 	Margens e espaçamentos */
	padding: 8px 0px;
	padding-top: 18px;
	margin-bottom: 15px;
	height: 50px;
	/* 	Cores */
	color: #fff;
	/* Gradiente do cabecalho   -   Inicio */
	background: gray;
	
}

/* Estilização para a div dentro do cabeçalho (header) da página */
header>div {
	margin-left: 12px;
}

/* Estilização para a div do conteudo da página */
#conteudo {
	padding: 0px 8px;
}

/* Estilização para o rodapé (footer) da página */
footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}

/* Estilização para todos os "h1" da página */
h1 {
	font-size: 24px;
	color: #4d4d4d;
	/* 	font-weight: 500;		Negrito não tão Negrito */
	padding: 0px;
	margin-bottom: 6px;
}

h2 {
	font-size: 18px;
	color: #4d4d4d;
	margin-top: 30px;
	font-weight: 600;
	padding: 0px;
}

/* Margens e espaçamentos da área da caixa de login da página de Login */
#login-dialog {
	width: 370px;
	margin: auto;
	margin-top: 230px;
}

#login-dialog>h1 {
	color: #FFFFFF;
	text-shadow: 2px 2px 2px #828282;
}

/* Propriedades da caixa de Login da página de Login */
.grid-login {
	background-color: #f2f2f2;
	height: 150px;
	border-radius: 8px;
	border: 1px solid #ccc;
/* 	margin-top: 8px; */
	padding: 15px;
	box-shadow: 3px 3px 3px #B5B5B5;
}

/* Estilização das linhas que estão em volta dos campos e labels  */
.ui-panelgrid td {
	height: 34px;
}

/* Largura dos Campos outputLabels da tabela */
.rotulo {
	width: 150px;
}

/* Configuração do componente AjaxStatus */
.ajax-status {
	position: absolute;
	top: 90px;
	right: 33px;
	width: 40px;
	height: 35px;
}

/* Tela: Cadastro Clientes */
/* Estilização para distanciar os radios buttons */
.ui-selectoneradio td:nth-child(3) {
	padding-left: 20px;
}

/*Tela Pesquisa de Pedidios */
/* Estilização para distanciar os checkbox */
.ui-selectmanycheckbox td:nth-child(2n+3):nth-child(-2n+7) {
	padding-left: 35px;
}

/* Tamanho do campo autoComplete da tabview (itens) */
.produto-tabela {
	width: 100% !important;
}
.produto-tabela input {
	width: 99%;
}

/* Customizacao da TabView  -  Inicio  */
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em !important;
}

.ui-tabs {
	padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	padding: 0px !important;
}
/* Customizacao da TabView  -  Final  */

/* Customização do Menu do Sistema  -  Início  */
.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}
.menu-sistema .ui-menu-parent>a .ui-menuitem-text, .menu-sistema>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
	{
	
}
.menu-sistema .ui-icon-home {
	margin-right: 3px;
	background: url(#{ resource [ 'images:home_icon.png' ] } ) no-repeat;
}
.menu-sistema .ui-icon-close {
	margin-right: 3px;
	background: url(#{ resource [ 'images:icone-close.png' ] } ) no-repeat;
}
/* Customização do Menu do Sistema  -  Final  */

/* Customização tabela Adicionar Endereco  -  Início */
.table-cliente tr:nth-child(4) {
	margin: 50px;
}
.table-clienteCidade input:nth-child(2) {
	margin-left: 38px;
}
.table-clienteUf input:nth-child(2) {
	margin-left: 7px;
}
/* Customização tabela Adicionar Endereco  -  Início */

/* Alterar opacidade dos botões desabilitados */
.ui-state-disabled {
	opacity: .80 !important;
}

.label{
	font-size: 12px !important;
	margin-left: 20px;
}

.commandButton{
	height: 40px; 
	width: 60px; 
}

@CHARSET "UTF-8";

body {  
    font-size: 12px;  
    background-color: #778899;
}

.topo {  
    background-image: url("../Imagens/topo.jpg");
    padding: 20px;
   
}

.topo-escrita {  
    font-size: 38px;
    font-family: Georgia;
    font-style: italic;
    font-weight: bold;
    color: white;
   
}

.titulo-produto {  
    font-size: 25px;
    font-family: Georgia;
    font-weight: bold;
    color: #3F567B;
    
}

.valor-produto {  
    font-size: 30px;
    font-family: Georgia;
    font-style: bold;
    color: #3F567B;
    
}

.unidade-produto {  
    font-size: 15px;
    font-family: Georgia;
    font-style: bold;
    color: #3F567B;
    
}

.feirante-produto {  
    font-size: 20px;
    font-family: Georgia;
    font-style: bold;
    color: gray;
    text-align: left;
    
}

form {
	text-align: left
}

.alinhar-direita{
	padding: 10px;
	
}

.relatorio{
	margin-left: 250px;
	font-size: 15px;
}

.relatorio-desc{
	font-size: 30px;
}
